/* CSS Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body */
body{
    padding: 0 10px
    scroll-behavior: smooth;
}
/* title */
.title{
    margin-top: 20px;
    text-align: center;
}
*subtitle{
    margin: 10px 0px;
    text-align: center;
}
/* header */
*menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu > a {
    text-decoration: none;
}
.menu-triangle {
    text-decoration: none;
    background-color: blue;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 4px;
}
/* Main Content */
Main{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.card {
    border: 1px blue solid;
    padding: 20px;
    box-shadow: 0px 14px 5px -7px rgba(0,0,0,0.3); 
    margin-top: 10px;
}
.form-triangle{
    display: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-triangle > input{
    padding: 8px 4px;
    margin: 5px;
    border-radius: 6px;
    width: 100%;
}
.button-triangle{
    padding: 6px 8px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
}
/* header */
*menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu > a {
    text-decoration: none;
}
.menu-triangle {
    text-decoration: none;
    background-color: blue;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 4px;
}

/* Second Content */

.form-jajargenjang{
    display: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-jajargenjang > input{
    padding: 8px 4px;
    margin: 5px;
    border-radius: 6px;
    width: 100%;
}
.button-jajargenjang{
    padding: 6px 8px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
}